<!DOCTYPE html>
<html>
  <head>
    <title>Amazon</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <nav class="menu">
      <ul>
        <li><%= link_to 'Home', :home %></li>
        <li><%= link_to 'About', :about %></li>
        <li><%= link_to 'Contact Us', :contact %></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
